**/__mocks__/**
**/__tests__/**
coverage
src
.github
.husky

.editorconfig
.eslintignore
.eslintrc.cjs
.prettierignore
.prettierrc.json
.releaserc
commitlint.config.cjs
jest.config.js
tsconfig.json
tsconfig.tsbuildinfo
